.header-inner {
  @include container;
}

.header {
  padding-top: 15px;
  padding-bottom: 15px;
}

.header-wrap {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav a {
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  position: relative;
  @include font;
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: $accent-black;
    transition: 0.3s;
  }
}

.header-nav a:hover::after {
    width: 100%;
  }

.header-nav li {
  margin-right: 72px;
  list-style: none;
}

.logo-img {
  margin-right: 172px;
}

.header-item {
  margin-left: 180px;
}

.sign-in {
  @include font;
  text-decoration: none;
  padding-right: 15px;
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: 0.3s;
  }
}
.sign-in:hover::after {
  width: 55px;
}

.btn {
  padding: 13px 50px;
  border: none;
  background-color: $accent;
  color: #ffff;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 20px;
  font-family: 'lato';
}
.hvr-shutter-in-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: rgb(142, 224, 142);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-in-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e1e1e1;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-in-horizontal:hover, .hvr-shutter-in-horizontal:focus, .hvr-shutter-in-horizontal:active {
  color: white;
}
.hvr-shutter-in-horizontal:hover:before, .hvr-shutter-in-horizontal:focus:before, .hvr-shutter-in-horizontal:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}



