.promo {
  background-image: url("../images/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  &_inner {
    @include container;
  }
}

.promo-content {
  padding-top: 175px;
  padding-bottom: 336px;
  width: 440px;
  &__title {
    color: $accent;
    font-size: 65px;
    line-height: 75px;
    font-family: "georgia";
    font-weight: bold;
    padding-bottom: 30px;
  }
  &__text {
    @include font;
    line-height: 31px;
    margin-bottom: 50px;
  }
}
.promo-btn {
  padding: 20px 50px;
}
